PROJECT_NAME=boilerplate

# POSTGRES
POSTGRES_PASSWORD=${PROJECT_NAME}_password
POSTGRES_USER=${PROJECT_NAME}_user
POSTGRES_DB=${PROJECT_NAME}_database

# DJANGO
DJANGO_SECRET_KEY='django_secret_key'
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS='["127.0.0.1","localhost"]'
DJANGO_CSRF_TRUSTED_ORIGINS='["http://127.0.0.1:4200","http://localhost:4200"]'
DJANGO_DATABASES_DEFAULT_NAME=${POSTGRES_DB}
DJANGO_DATABASES_DEFAULT_USER=${POSTGRES_USER}
DJANGO_DATABASES_DEFAULT_PASSWORD=${POSTGRES_PASSWORD}

